# Python
venv/
.env/
*.py[cod]
__pycache__/
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/

# PyCharm (JetBrains IDE)
.idea/
*.iml
*.ipr
*.iws
.idea_modules/

# VSCode
.vscode/
*.code-workspace

# System
.DS_Store
Thumbs.db